
  


   button.add-btn {
    background-color: #4caf50;
    color: white;
  }
  
  button.edit-btn {
    background-color: #f0ad4e;
    color: white;
  }
  
  button.delete-btn {
    background-color: #d9534f;
    color: white;
  }

  .country-container{
    
    height: 150vh;
    width: 100%;
    
  }
